@using AspDotNet.LabExercise1.Models;
@using System.Collections.Generic;

@{
	var productList = ViewData["ProductList"] as List<Product>;
	var grandTotal = ViewData["GrandTotal"];
}

<div>
	<h2>Product List</h2>
	<table cellpadding="10">
		<tr bgcolor = lightblue>
			<td>Id</td>
			<td>Name</td>
			<td>Description</td>
			<td>Quantity</td>
			<td>Price</td>
			<td>Total Price</td>
		</tr>
		@foreach(var product in productList)
		{
			<tr bgcolor = #D0ECE7>
				<td>@product.Id</td>
				<td>@product.Name</td>
				<td>@product.Description</td>
				<td>@product.Quantity</td>
				<td>@product.Price.ToString("C2")</td>
				<td>@product.TotalAmount.ToString("C2")</td>
			</tr>
		}
		<tr bgcolor = lightblue>
			<td style="text-align:right", colspan="5"><strong>Grand Total</strong></td>
			<td><strong>@grandTotal</strong></td>
		</tr>
	</table>
</div>